
Presentation/main\.aux

Presentation/main\.fdb_latexmk

Presentation/main\.fls

Presentation/main\.log

Presentation/main\.nav

Presentation/main\.out

Presentation/main\.snm

Presentation/main\.synctex\.gz

Presentation/main\.toc
